input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

body {
  margin: 4pxs;
  padding: 0px;
  background-color: darkred;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-shadow: 1px 1px black;
}

#Page {
  display: grid;
  background-color: rgb(202, 157, 74);
  border: 2px solid rgb(128, 128, 0);
  width: auto;
  height: 99.6%;
}

header {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: mediumpurple;
  color: purple;
  border: 2px solid rgb(52, 131, 49);
  margin: 2px;
  width: auto;
  height: 40px;
  font-size: 88%;
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: min-content repeat(3, 1fr);
  padding: 2px;
  background-color: rgb(83, 20, 255);
  border: 2px dashed goldenrod;

  /* height: 68vh; */
  height: auto;
  width: auto;
}

#Palatrix-Panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: purple;
  margin: 2px;
  border: 2px solid rgb(187, 86, 86);
  height: auto;
  width: auto;
}

:root {
  /* --Grid-Column-Amount: 16;
  --Grid-Row-Amount: 1; */
  /* --Display-Type: inline-grid;
  --ColorBox-Width: 32px;
  --ColorBox-Height: 32px; */
  /* 16x16 square pixels in viewport units*/
  /* --ColorBox-Width: 12vw;
  --ColorBox-Height: 12vh; */
  /*  --ColorBox-Width: 0.84vw;
  --ColorBox-Height: 0.87vh; */
  --Display-Type: grid;
  --Justify: center;
  --Align: center;
  --Grid-Column-Amount: 8;
  --Grid-Row-Amount: 2;
  --ColorBox-Width: 100%;
  --ColorBox-Height: 100%;
  --Palette-Height: 100%;
  --Palette-Width: 100%;
  /* SET TO 100% ON BOTH COLORBOX AND PALATRIX-PALETTE
  FOR FULL RESIZING SQUARES ALSO SET COLUMN AND ROW AMOUNT
  
  SET PALETTE TO AUTO AND COLORBOX TO PALETTE PIXEL SIZE FOR PNG EXPORT*/
}
#Palatrix-Palette {
  display: var(--Display-Type);
  grid-template-columns: repeat(var(--Grid-Column-Amount), 1fr);
  grid-template-rows: repeat(var(--Grid-Row-Amount), 1fr);
  justify-content: var(--Justify);
  align-items: var(--Align);
  background-color: firebrick;

  width: var(--Palette-Width);
  height: var(--Palette-Height);
}

.ColorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--ColorBox-Width);
  height: var(--ColorBox-Height);
}

ul {
  padding: 0;
  margin: 0;
}

p {
  font-size: auto;
  width: auto;
  height: auto;
}

#Palatrix-Control {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: rgb(150, 243, 155);
  border: 2px dotted brown;
  width: auto;
  height: auto;
}

.Palette {
  background-color: lightslategray;
  border: 2px dashed lightsteelblue;
  margin: 2px;
  text-align: center;
  transition: width 2s ease-in-out;
  width: 80%;
  height: 40%;
  z-index: 2;
}

#Palette-Selector {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 98, 104);
  border: 2px dotted brown;
  width: auto;
  height: auto;
  padding: auto;
  margin: auto;
}
#Palette-Splash {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 183, 255);
  border: 2px dotted brown;
  width: auto;
  height: auto;
}

#ColorPicker {
  position: relative;
  margin-top: 16px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px;
  width: auto;
  height: auto;
  background-color: rgb(58, 58, 58);
  border: 2px solid rgb(121, 121, 121);
}

#PaletteFormat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  border: 2px solid black;
  color: white;
  width: auto;
  height: auto;
  padding: 2px;
}

option {
  color: pink;
  text-align: center;
}

option:hover {
  color: black;
}

option {
  color: red;
}

select {
  background-color: pink;
  border: 2px dashed orange;
  color: blue;
  padding: 2px 2px;
}

select:hover {
  background-color: pink;
  color: black;
}
