/* Set a default font size */

input[type="color"]::-webkit-color-swatch-wrapper {
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="radio"] {
  display: none;
}

img {
  border: 2px solid black;
  width: auto;
  height: auto;
}
body {
  margin: 2px;
  padding: 2px;
  background-color: darkred;
  text-align: center;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-shadow: 1px 1px black;
}

#Page {
  display: grid;
  background-color: rgb(202, 157, 74);
  border: 2px solid rgb(128, 128, 0);
  width: auto;
  height: 99.6%;
}

header {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: mediumpurple;
  color: purple;
  border: 2px solid rgb(52, 131, 49);
  margin: 2px;
  width: auto;
  height: 40px;
  font-size: 88%;
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: min-content repeat(3, 1fr);
  padding: 2px;
  background-color: rgb(83, 20, 255);
  border: 2px dashed goldenrod;

  /* height: 68vh; */
  height: auto;
  width: auto;
}

#Palatrix-Panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: purple;
  border: 2px solid rgb(187, 86, 86);
  height: auto;
  width: auto;
}

:root {
  /* --Grid-Column-Amount: 16;
  --Grid-Row-Amount: 1; */
  /* --Display-Type: inline-grid;
  --ColorBox-Width: 32px;
  --ColorBox-Height: 32px; */
  /* 16x16 square pixels in viewport units*/
  /* --ColorBox-Width: 12vw;
  --ColorBox-Height: 12vh; */
  /*  --ColorBox-Width: 0.84vw;
  --ColorBox-Height: 0.87vh; */
  --Display-Type: grid;
  --Justify: center;
  --Align: center;
  --Grid-Column-Amount: 8;
  --Grid-Row-Amount: 2;
  --ColorBox-Width: 100%;
  --ColorBox-Height: 100%;
  --ColorBox-Margin: auto;
  --Palette-Height: 100%;
  --Palette-Width: 100%;
  /* SET TO 100% ON BOTH COLORBOX AND PALATRIX-PALETTE
  FOR FULL RESIZING SQUARES ALSO SET COLUMN AND ROW AMOUNT
  
  SET PALETTE TO AUTO AND COLORBOX TO PALETTE PIXEL SIZE FOR PNG EXPORT*/
}
#Palatrix-Palette {
  display: var(--Display-Type);
  grid-template-columns: repeat(var(--Grid-Column-Amount), 1fr);
  grid-template-rows: repeat(var(--Grid-Row-Amount), 1fr);
  justify-content: var(--Justify);
  align-items: var(--Align);
  background-color: rgb(45, 44, 46);

  width: var(--Palette-Width);
  height: var(--Palette-Height);
}

.ColorBox {
  width: var(--ColorBox-Width);
  height: var(--ColorBox-Height);
}

.ColorBox:hover {
  width: var(--ColorBox-Width);
  height: var(--ColorBox-Height);

  filter: brightness(1.2);
}

ul {
  padding: 0;
  margin: 0;
}

p {
  font-size: auto;
  width: auto;
  height: auto;
}

#Palatrix-Control {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  margin: 0 auto;
  width: auto;
}

.Palette {
  background-color: lightslategray;
  border: 2px dashed lightsteelblue;
  margin: 2px;
  text-align: center;
  transition: width 2s ease-in-out;
  width: 80%;
  height: 40%;
  z-index: 2;
}

#Palette-Selector {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);

  border: 2px solid rgb(57, 36, 54);

  height: 80%;
  width: auto;

  background-color: rgb(139, 99, 151);
}

#Palette-Splash {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #553592;
  border: 2px dashed #5e5079;
  text-align: center;
  width: auto;
  height: auto;
}

.Palette-Radio-Options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(rgb(84, 32, 124), rgb(87, 62, 90));
  border: 2px solid black;
  color: pink;
  width: 82vw;
  height: 6vh;
  font-size: 2vh;
}
.Palette-Radio-Options label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6b3d5e;
  cursor: pointer;
  position: relative;
  background-color: #754881;
  width: 4vw;
  height: 4vh;
  margin: 0 0.5vw;
  flex: 1;
}

.Palette-Radio-Options label:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #4a2941;
  cursor: pointer;
  position: relative;
  background-color: #3b2043;
  width: 4vw;
  height: 4vh;
  margin: 0 0.5vw;
  flex: 1;
}
input[type="radio"]:checked + label,
.Palette-Radio-Options input[type="radio"]:checked {
  border: 2px solid #6b3d5e;
  cursor: pointer;
  position: relative;
  background-color: #9d72a9;
  width: 4vw;
  height: 4vh;
  margin: 0 0.5vw;
  flex: 1;
}

#ColorPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  padding: 2px;
  width: 80vw;
  height: 24vh;
  background-color: rgb(58, 58, 58);
  border: 2px solid rgb(121, 121, 121);
}

#PaletteFormat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  border: 2px solid black;
  color: white;
  width: auto;
  height: auto;
  padding: 2px;
}
